@model BookLibrary.Models.Block

@{
    ViewData["Title"] = "Edit";
}

<h1>Edit</h1>

<h4>Block</h4>
<hr />
<div>
@*<div class="row">*@
    @*<div class="col-md-4">*@
  <div>
      <form asp-action="EditBlock">
        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
        <input type="hidden" asp-for="BlockId" />
        <div class="form-group">
          <label asp-for="Title" class="control-label"></label>
          <input asp-for="Title" class="form-control" />
          <span asp-validation-for="Title" class="text-danger"></span>
        </div>

        <div class="form-group">
          <label asp-for="Photo" class="control-label"></label>
          <input asp-for="Photo" class="form-control" />
          <span asp-validation-for="Photo" class="text-danger"></span>
        </div>

        <div class="form-group">
          <label asp-for="Diagram" class="control-label"></label>
          <input asp-for="Diagram" class="form-control" />
          <span asp-validation-for="Diagram" class="text-danger"></span>
        </div>
        <div class="form-group">
          <label asp-for="Genre" class="control-label"></label>
          <input asp-for="Genre" class="form-control" />
          <span asp-validation-for="Genre" class="text-danger"></span>
        </div>
        <div>
          @*class="form-group"*@
          <label asp-for="Text" class="control-label"></label>
          <textarea asp-for="Text" class="form-control" rows="10" cols="80" wrap=hard ></textarea>
          <span asp-validation-for="Text" class="text-danger"></span>
        </div>

        <div class="form-group" style="margin-top:15px;">
          <input type="submit" value="Save" class="btn btn-primary" />
        </div>
      </form>
    </div>
</div>

<div style="margin-top:15px;">
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
