@{
  ViewData["Title"] = "Personal Website";
}

<div class="text-center">
  <h1 class="display-4">Welcome to my Personal Website</h1>
  <p>Click Here to View Basic Information <a href="~/website.html">Go!</a>.</p>@*@~!~ <a href="Books">@*@
</div>

<div>


</div>